@import './cmps/app-header.css';
@import './cmps/app-footer.css';
@import './apps/mail/pages/mail-app.css';
<<<<<<< HEAD
=======
@import './apps/mail/cmps/mail-func.css';
@import './apps/mail/cmps/mail-list.css';
@import './apps/keep/cmps/keep-add.css';

/* Dotan the king */
>>>>>>> ef2eefd4bf1f8e2eb75ef58a8d62efef0505a02a

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 0;
}


/* HELPERS */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}