@import './cmps/app-header.css';
@import './cmps/app-footer.css';
@import './apps/mail/pages/mail-app.css';
@import './apps/keep/pages/keep-app.css';

/* Dotan the king */

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden ;
}

footer {
    z-index: 2;
}


/* HELPERS */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}