@import './mail-details.css';
@import './mail-starred.css';
@import '../cmps/mail-func.css';
@import '../cmps/mail-preview.css';
@import '../cmps/mail-list.css';
@import '../cmps/mail-filter.css';
@import '../cmps/mail-sent.css';


.email-app {
    height: 80vh;
    margin-bottom: 10vh;
    font-family: 'Caudex', serif;
}

.mails-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 10fr;
}

@media screen and (max-width: 500px) {
    .mails-container {
        grid-template-columns: 12fr;
    }
}