.mail-filter {
    height: 3rem;
    background-color: rgba(226, 226, 226, 0.52);
    position: relative;
    flex-wrap: wrap;
}

.mail-filter input {
    height: 2.5rem;
    flex-basis: 75%;
    /* margin-inline-end: 1rem; */
    border-radius: 1rem;
    border: 1px solid black;
}

.mail-filter .filterBy {
    position: absolute;
    z-index: 1;
    right: 25%;
    /* margin-inline-end: 4rem; */
    height: 2.3rem;
    width: 5rem;
    border-radius: 1rem;
    border: 0 solid;
    background-color: #fff;
}

.mail-filter .sortBy {
    height: 2.5rem;
    flex-basis: 10%;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: #fff;
}

.mail-filter .showBy {
    height: 2.5rem;
    flex-basis: 10%;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: #fff;
}

@media (max-width: 700px) {
    .mail-filter {
        height: 6rem;
    }
    .mail-filter input{
        flex-basis: 100%;
    }
    .mail-filter .sortBy{
        flex-basis: 50%;
    }
    .mail-filter .showBy {
        flex-basis: 50%;
    }
    .mail-filter .filterBy {
        top: 0.3rem;
        right: 5%;
    }
}

@media (max-width: 500px) {
    .mail-filter {
        height: 6rem;
    }
    .mail-filter input{
        flex-basis: 100%;
    }
    .mail-filter .sortBy{
        flex-basis: 50%;
    }
    .mail-filter .showBy {
        flex-basis: 50%;
    }
    .mail-filter .filterBy {
        right: 5%;
    }
}