.mail-boxes {
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 226, 226, 0.52);
    /* padding: 1rem; */
    flex-basis: 15rem;
    height: 80vh;
}

.mail-compose-btn {
    margin: 1rem 1rem 3rem 1rem;
    height: 3rem;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-size: 1.5rem;
}
.mail-compose-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px #000000;
}

.mail-boxes button:not(:first-child) {
    background-color: rgba(241, 90, 30, 0.644);
    margin: 0 0.5rem 0.1rem 0;
    /* background-color: transparent; */
    border: 0;
    border-radius: 0 25px 25px 0;
    height: 2rem;
    transition: 200ms;
}

.mail-boxes button:not(:first-child):hover {
    background-color: rgba(241, 90, 30, 0.5);
    cursor: pointer;
}

.mail-boxes .mail-inbox-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.mail-boxes .mail-inbox-sym {
    width: 20px;
    height: 20px;
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
}
.mail-boxes .mail-inbox-amount {
    margin-inline-end: 0.5rem;
}

@media screen and (max-width: 1000px) {
    .mail-compose-btn  {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 850px) {
    .mail-compose-btn  {
        font-size: 1.0rem;
    }
}

@media (max-width: 500px) {
    .mail-boxes {
        height: 10vh;
    }
    .mail-compose-btn {
        margin-bottom: 0.1rem;
    }
}