.sent-mail {
    flex-basis: 100%;
    height: calc(80vh - 3rem);
    background-color: rgb(255, 255, 255);
}

.sent-mail form {
    padding: 1rem;
    width: 100%;
}

.sent-mail form input {
    background-color: rgba(226, 226, 226, 0.52);
    font-size: 1.1rem;
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.mail-body {
    background-color: rgba(226, 226, 226, 0.52);
    font-size: 1.1rem;
    margin-top: 1rem;
    width: 100%;
    height: 8rem;
    border: 1px solid black;
    border-radius: 5px;
}