.mail-details {
    display: flex;
    align-items: center;
    color: black;
    padding: 0.4rem;
    transition: 200ms;
}
.mail-details:hover {
    height: 2.5rem;
}

/* .mail-checkbox {
    flex-basis: 5%;
}
.mail-checkbox input:hover{
    cursor: pointer;
} */

.mail-star{
    flex-basis: 7.5%;
    position: relative;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}

.mail-star p {
    color: rgb(255, 196, 0);
    position: absolute;
    margin: 0;
    cursor: pointer;
}

.mail-details .mail-content-list {
    flex-basis: 85%;
    margin: 0;
    padding: 0;
}
.mail-details .mail-content-list:hover{
    cursor: pointer;
}

.mail-details .mail-content-list a{
    display: flex;
    text-decoration: none;
    color: black;
}

.mail-details .mail-name {
    flex-basis: 10%;
    justify-self: start;
    margin: 0;
    padding: 0 1rem;
}

.mail-details .mail-subject-and-body {
    flex-basis: 80%;
    margin: 0;
    padding: 0 1rem;
}

.mail-details .mail-time {
    flex-basis: 10%;
    justify-self: end;
    margin: 0;
    padding: 0 1rem;
}

.mail-delete {
    flex-basis: 7.5%;
    margin: 0;
    padding: 0;
}
.mail-delete {
    cursor: pointer;
}

.is-not-read {
    font-weight: 600;
}