.mail-details {
    display: flex;
    color: black;
    padding: 0.4rem;
}

.mail-checkbox {
    flex-basis: 5%;
}

.mail-star{
    flex-basis: 5%;
    position: relative;
}

.mail-star input {
    margin: 0;
    position: absolute;
    opacity: 0.1;
    z-index: 1;
}

.mail-star p {
    position: absolute;
    margin: 0;
}

.mail-details .mail-content-list {
    flex-basis: 85%;
    display: flex;
    margin: 0;
    padding: 0;
}

.mail-details .mail-name {
    flex-basis: 10%;
    justify-self: start;
    margin: 0;
    padding: 0;
}

.mail-details .mail-subject-and-body {
    flex-basis: 80%;
    margin: 0;
    padding: 0;
}

.mail-details .mail-time {
    flex-basis: 10%;
    justify-self: end;
    margin: 0;
    padding: 0;
}

.mail-delete {
    flex-basis: 5%;
    margin: 0;
    padding: 0;
}

.is-not-read {
    font-weight: 600;
}