.mails-list{
    flex-basis: 80%;
}

.mails-list ul{
    margin: 0;
    padding: 0;
}

.mails-list li{
    width: 100%;
    list-style: none;
    /* height: 3rem; */
}

.mails-list li:hover{
    cursor: pointer;
}

.mails-list li:nth-child(odd){
    background-color: rgba(226, 226, 226, 0.52);
}

.mails-list li >a{
    text-decoration: none;
    
}