.keep-preview-todos {
    padding: 15px;
}

.keep-gallery {
    border-radius: 30px;
    transition: 0.3s;
}

.keep-gallery:hover {
    background-color: rgba(243, 215, 89, 0.973)
}

.todo-delete-btn,
.todo-edit-btn {
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid black;
    border: none;
    color: grey;
    font-size: 0.7em;
    z-index: 1;
}