@import '../cmps/keep-add.css';
@import '../cmps/keep-preview-text.css';
@import '../cmps/keep-preview.css';
@import '../cmps/keep-list.css';
.keep-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-bottom: 500px;
}